* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; // padding will be added in element's width
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;

  .video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100vw;
  }

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .links {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;

    a {
      margin-left: 1rem;
      margin-top: 1rem;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .video-background {
    height: 100vh;
  }

  video {
    object-fit: cover;
    margin-top: -1px;
  }
}
