@mixin button {
  min-height: 2rem;
  width: 6rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; // padding will be added in element's width
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  @include flex;
  overflow: hidden;

  .loader {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }

  .navigation-container {
    position: fixed;
    @include flex;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: red;
    z-index: 11;

    .main-navigation {
      @include flex;

      .favorite-bth,
      .load-more-btn {
        @include button;
        margin-right: 0.5rem;

        &:hover {
          background-color: lightgray;
          opacity: 0.7;
        }
      }
    }

    .favorite-navigation {
      display: none;

      .back-btn {
        @include button;
      }
    }
  }

  .results-container {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 4rem;
    display: flex;

    .main-container,
    .favorite-container {
      @include flex;
      flex-wrap: wrap;
      padding: 1.5rem;
      min-width: 100%;
      height: 100%;
      overflow: scroll;
      display: flex;

      .card {
        width: 15rem;
        height: 19rem;
        @include flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        z-index: 2;
        margin-right: 1rem;
        margin-bottom: 1rem;

        img {
          max-width: 100%;
          max-height: 10rem;
          min-height: 10rem;
          margin-bottom: 0.5rem;
          margin-top: 0.5rem;
          flex-grow: 1;
          cursor: pointer;
        }

        .title {
          margin-bottom: 0.5rem;
          font-size: 1rem;
          text-align: center;
        }

        .description {
          margin-bottom: 0.5rem;
          cursor: pointer;

          p {
          }

          .truncate {
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .add-button-container {
          min-height: 2.5rem;
          min-width: 2.5rem;
          border-radius: 50%;
          background-color: gray;
          align-self: flex-end;
          @include flex;
          align-content: center;
          z-index: 10;
          outline: none;
          border: none;

          .add-button {
            border: none;
            border-radius: 50%;
            min-height: 2rem;
            min-width: 2rem;
            cursor: pointer;
          }
        }

        .add-button-container.added {
          background-color: green;
        }
      }

      .card.active {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
        transform: translateY(2px);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  body {
    .results-container {
      .main-container {
        .card {
          margin-right: 0;
        }
      }
    }
  }
}
