* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; // padding will be added in element's width
  font-family: 'Lato', sans-serif;
}

body {
  height: auto;
  width: 100vw;
  background-color: whitesmoke;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    position: fixed;

    img {
      position: fixed;
      // to center - if we don't set the size
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .image-container {
    width: 100vmin;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;

    img {
      margin-top: 0.5rem;
      width: 100%;
    }
  }
}
