* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #023e8a;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    border-bottom: 1px solid black;

    .title {
      font-weight: bold;
    }

    .custom-box-btn {
      width: 8rem;
      height: 2rem;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: #0096c7;
      color: white;
      cursor: pointer;
    }
  }

  .texts-container {
    width: 100%;
    height: calc(100% - 6rem);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 0.25rem;
      cursor: pointer;
      border-radius: 5px;
      background-color: red;

      .image {
        width: 15rem;
        height: 8rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .text {
        width: 15rem;
        height: 2rem;
        background-color: #0096c7;
        text-align: center;
        color: white;
        opacity: 0.8;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    .text-container.active {
      box-shadow: 0 0 10px 5px darksalmon;
    }
  }

  .popup-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 0;
    visibility: hidden;

    .popup {
      background-color: #0096c7;
      width: 80vmin;
      height: 60vmin;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-direction: column;
      position: relative;
      border-radius: 5px;
      padding: 0.5rem;

      .close-btn {
        justify-self: flex-end;
        align-self: flex-end;
        background: transparent;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        border: none;
        outline: none;
      }

      .voice-selection {
        width: 100%;

        .title {
        }

        .voice-dropdown {
          width: 100%;
          border-radius: 5px;
          border: none;
          outline: none;
          height: 2rem;
          margin-top: 0.5rem;
          cursor: pointer;
          background-color: #00b4d8;
        }
      }

      .custum-textbox {
        width: 100%;
        height: 65%;
        border-radius: 5px;
        padding: 0.5rem;
      }

      .read-btn {
        width: 100%;
        height: 2rem;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #00b4d8;
        cursor: pointer;
      }
    }
  }

  .popup-container.show {
    display: flex;
    z-index: 1;
    visibility: visible;
  }
}
