* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #003049;
  color: wheat;
}

body .container {
  width: 45vmin;
  height: 60vmin;
  border: 1px solid #d62828;
  border-radius: 5px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container h2 {
  margin-bottom: 1rem;
}

body .container .input {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .container .input input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 0.5rem;
}

body .container .input .copy-btn {
  position: absolute;
  background-color: #d62828;
  width: 2rem;
  height: 2rem;
  right: 6px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-image: url("./copy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

body .container .pass-specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

body .container .pass-specs div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0.3rem;
}

body .container .pass-specs div #length {
  padding: 0.1rem;
  border-radius: 2px;
  border: none;
  outline: none;
}

body .container .generate-btn {
  width: 100%;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f77f00;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  body .container {
    width: 70vmin;
    height: 80vmin;
  }
}

@media screen and (max-width: 350px) {
  body .container {
    width: 90vmin;
    height: 70vmax;
  }
}
/*# sourceMappingURL=style.css.map */