* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14213d;

  .progress-bar {
    position: relative;
    width: 500px;
    height: 3em;
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    border: 5px solid;
    border-color: red;
  }

  .progress-bar::before {
    content: attr(data-label);
    position: absolute;
    display: flex;
    align-items: center;
    top: 0.2em;
    left: 0.2em;
    height: 2em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1.4em);
    background-color: #6a040f;
    border-radius: 1em;
    padding: 0;
    padding-left: 1em;
  }
}

