@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

body .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1rem;
}

body .container .card-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 40vmin;
  height: 60vmin;
  padding: 0.2rem;
  min-width: 12rem;
  min-height: 17rem;
}

body .container .card-container .card {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

body .container .card-container .card span {
  height: 0.5rem;
  width: 40%;
  background-color: red;
  display: inline-block;
}

body .container .card-container .card .image {
  width: 100%;
  min-height: 50%;
  max-height: 50%;
}

body .container .card-container .card .descripton-container {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

body .container .card-container .card .descripton-container h4 {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

body .container .card-container .card .descripton-container p {
  opacity: 0.7;
}

body .container .card-container .card .user-container {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  justify-self: flex-end;
}

body .container .card-container .card .user-container .user-image {
  border-radius: 50%;
  margin-right: 0.5rem;
}

body .container .card-container .card .user-container .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .card-container .card .user-container .portfolio .name {
  text-transform: uppercase;
  font-weight: bold;
}

body .container .card-container .card .user-container .portfolio a {
  opacity: 0.6;
  text-decoration: none;
}

body .container .animated-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(#f6f7f8), color-stop(10%, #edeef1), color-stop(20%, #f6f7f8), to(#f6f7f8));
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 10%, #f6f7f8 20%, #f6f7f8 100%);
  background-size: 200% 100%;
  -webkit-animation: graidiant 1s linear infinite;
          animation: graidiant 1s linear infinite;
}

@media screen and (max-width: 600px) {
  * {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  * {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 360px) {
  * {
    font-size: 0.7rem;
  }
}

@-webkit-keyframes graidiant {
  0% {
    background-position: 20% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes graidiant {
  0% {
    background-position: 20% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
/*# sourceMappingURL=style.css.map */