* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #370617;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  overflow: hidden;
}

body h1 {
  margin: 20px 0 0;
}

body .container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

body .container .wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

body .container .wrong-letters-container p {
  margin: 0 0 5px;
}

body .container .wrong-letters-container span {
  font-size: 24px;
}

body .container .word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

body .container .word .letter {
  border-bottom: 3px solid #2980b9;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

body .container .svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .container .svg .figure-container,
body .container .svg .parts {
  fill: transparent;
  stroke: white;
  stroke-width: 4px;
  stroke-linecap: round;
}

body .container .svg .parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: hangman 3s infinite;
          animation: hangman 3s infinite;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  justify-self: center;
  height: 10rem;
  width: 10rem;
  left: 5.5rem;
  top: 0.5rem;
  position: absolute;
}

body .container .svg .parts .figure-part {
  display: none;
}

body .popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .popup-container .popup {
  background-color: #2980b9;
  border-radius: 5px;
  -webkit-box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-left: 10rem;
  width: auto;
  min-width: 10rem;
}

body .popup-container .popup .play {
  cursor: pointer;
  background-color: white;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
}

body .popup-container .popup .play:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

body .popup-container .popup .play:focus {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

body .popup-container .popup .popup button:active {
  outline: 0;
}

body .notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

body .notification-container p {
  margin: 0;
}

body .notification-container.show {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

@-webkit-keyframes hangman {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes hangman {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
/*# sourceMappingURL=style.css.map */